@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lg-font: #18181b;
  --sm-font: #71717a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --lg-font: #f4f4f5;
    --sm-font: #d4d4d8;
  }
}

* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
button {
  font-family: var(--unbounded-font);
  color: var(--lg-font);
}

p button,
label,
input,
a,
p {
  font-family: var(--chivo-font);
  color: var(--sm-font);
}

input:active,
input:focus {
  outline: none;
  border: 2px solid #60a5fa;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
